.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;

  .heading {
    font-size: 24px;
  }
}
